body{
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*======Header====== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container{
  display: flex;
  align-items: center;
 }

.page-navigation{
  display: flex;
  align-items: center;
  }


.logo-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.top-line{
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}



.page-navigation .link:hover,
.page-navigation .link:focus {
  color: #404bbf;
}

.top-line .one-link{
color: #404bbf;
}

.link {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.link:nth-child(1)::after{
  width: 48px;
  height: 4px;
  background-color: #404BBF;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  border-radius: 2px;
  bottom: -1px;
}


/* ================= */


/*====== Contacts======= */
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ================ */


/*====Section 1 hero===== */

.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: 
  linear-gradient(to bottom,
   rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
  ),
  url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container{
max-width: 1440px;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px; 
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* ================== */


/*===Section 2 Our strengths===*/
.section-strengths{ 
  padding: 120px 0;
}

.strengths-list{
  display: flex;
  gap: 24px;
}

.strengths-list .strengths-item{
width: calc((100% - 72px) / 4);
}

.strengths-item::before{
  content: "";
  display: block;
  height: 112px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 1px solid  #8E8F99;
  background:  #F4F4FD;
}

.strengths-item:nth-child(1)::before{
  background-image: url(../images/antenna.svg);
  background-size: center;
    background-repeat: no-repeat;
    background-position: center;
}

.strengths-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
}

.strengths-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
}

.strengths-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
}


.strengths-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px
}

.strengths-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =============== */


/*===Section 2 Our Team===*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.second-title {
  color: #2e2f42;
  background: #f4f4fd;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .team-item {
   background-color: #FFF;
   border-radius: 0px 0px 4px 4px;
   width: calc((100% - 72px) / 4);
 }

 .picture-team {
   width: 100%;
 }

.name-team{
  padding: 32px 0
}

.team-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list .team-item{
  display: block;
}
/* =============== */


/*===Section Our Portfolio===*/

.portfolio{
  padding: 120px 0 120px 0
}

.second-portfolio-title{
  color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  padding-right: 0;
 }

 .portfolio-list .portfolio-item{
  width: calc((100% - 48px) / 3);
  display: block;
 }

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.picture-portfolio{
  flex-shrink: 0;
}

.portfolio-card{
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ================ */


/*=====Footer=====*/

.logo-discription {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-web-footer{
  color: #4D5AE5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex-shrink: 0;
  display: inline-block;
  margin-bottom: 16px;
}


.second-logostudio {
  color: #F4F4FD
}

.foorer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

ul li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: block;
  margin: 0;
  padding: 0;
  }

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
